.nzz_extension_edit
{
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
    z-index: 1000;
    background-color: white;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    padding: 0 !important;
}

.nzz_extension_edit .icon{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/q.svg');
    background-size: contain;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: opacity 0.2s ease-in-out;
    display: inline-block;
}

.nzz_extension_edit .icon:hover {
    opacity: 1;
}

.nzz_extension_customcode_overlay
{
    width: 280px;
    text-align: right;
    position: fixed;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: -273px;
    background-color: #2b3440;
    color: #d7dde4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 99999;
    overflow: hidden;
    transition: right 0.3s ease-in-out;
}

.nzz_extension_customcode_overlay:hover
{
    right: 0;
}

.nzz_extension_customcode_overlay ul
{
    padding: 0;
    list-style-type: none;
    padding: 5px 5px 5px 10px;
}

.nzz_extension_customcode_overlay a, .nzz_extension_customcode_overlay a:visited, .nzz_extension_customcode_overlay a:hover
{
    color: #d7dde4;
    text-decoration: none;
}

.nzz_extension_customcode_highlight
{
    background-color: #df7c1838 !important;
}