.nzz_extension_edit {
    position: absolute;
    top: 3px;
    right: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/pen.png');
    background-size: contain;
    opacity: 0.2;
    z-index: 1000;
}

.nzz_extension_edit:hover {
    opacity: 1;
}